<!DOCTYPE html>
<html lang="en">

<head>
    <!-- OG Meta Tags are Useful for embeding (will look cool in Slack and Discord and may atract users)-->
    <meta property="og:description" content="<%= Detailed_Atleast_75_Character_Description %>">
    <meta name="description" content="<%= Detailed_Atleast_75_Character_Description %>">
    <meta name="keywords" content="<%= Random_Tags_From_The_First_Snippet_Title %>">
    <meta property="og:image" content="<%= Javascript_Or_Code_Grepper_Logo %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="identifier-URL" content="https://www.codegrepper.com">
    <meta name="url" content="https://www.codegrepper.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="og:site_name" content="Code Grepper">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta property="og:image:alt" content="View Answer">
    <meta http-equiv="content-language" content="en">
    <meta name="publisher" content="Taylor Hawkes">
    <meta property="og:image:height" content="200">
    <meta name="copyright" content="Taylor Hawkes">
    <meta property="og:image:width" content="200">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Taylor Hawkes">
    <meta name="theme-color" content="#55468C">
    <meta name="audience" content="Everyone">
    <meta name="page-topic" content="Forum">
    <meta charset="UTF-8">
    <!-- Ens here -->
    <title>Meta Tags</title>
</head>

<body style="background-color: #282a36;">
    <a href="https://www.codegrepper.com/app/profile.php?id=98467" target="_blank"
        style="color: #bd93f9; font-size: 50px; font-weight: 600;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Credits:
        Undefined</a>
</body>

</html>